/* index.css */

/* Center the schedule container vertically */
#schedule-container {

}

/* Remove list style for unordered lists */
ul {
    list-style-type: none;
}

/* Style for schedule items */
.show-item {
    /* Add your custom styles for schedule items here */
}

/* Style for the schedule image */
.schedule-image {
    max-width: 100px; /* Adjust the width as needed */
    max-height: 100px; /* Adjust the height as needed */
}

